{% extends 'yevrus/includes/surveys_layout.html' %}

{% block title %}
    Create surveys
{% endblock %}

{% block content %}
    <div class="container">
        <div class="jumbotron">
            {% if messages %}
                {% for message in messages %}
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                        <div class="alert alert-success" role="alert">{{ message }}</div>
                    {% elif message.level ==  DEFAULT_MESSAGE_LEVELS.ERROR %}
                        <div class="alert alert-danger" role="alert">{{ message }}</div>
                    {% endif %}
                {% endfor %}
            {% endif %}
            <h2>Create new survey</h2>
            <div id="response-message"></div>
            <hr>
            <form class="form-horizontal">
                <div class="form-group form-group-lg" style="padding-left: 5%; padding-right: 5%">
                    <div class="form-group">
                        <div class="col-sm-10">
                            <div class="input-group input-group-lg">
                                <label class="input-group-addon" for="survey-title"><b>Title</b></label>
                                <input type="text" class="form-control" id="survey-title" maxlength="255" required>
                            </div>
                        </div>
                        <div class="col-sm-2" style="padding: 15px 0; text-align: center">
                            <input type="checkbox" name="checkbox" id="is_published">
                            <label for="is_published" style="font-size: 18px">Publish</label>
                        </div>
                        <div class="col-sm-3">
                            <div class="btn-group">
                                <button type="button" class="btn btn-lg btn-primary dropdown-toggle"
                                        data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                    Add question
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item col-sm-12" onclick="add_question(0)">Text</a>
                                    <a class="dropdown-item col-sm-12" onclick="add_question(1)">Radio</a>
                                    <a class="dropdown-item col-sm-12" onclick="add_question(2)">Multichoice</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group form-group-lg" id="question_field" style="padding-left: 5%; padding-right: 5%">
                </div>
                <div class="form-group form-group-lg" id="control-btn">
                    <div class="col-sm-1">
                        <button type="button" class="btn btn-success" onclick="createSurvey()">Create</button>
                    </div>
                    <div class="col-sm-1">
                        <a type="button" class="btn btn-danger" href="{% url 'yevrus:mysurveys' %}">Back to my
                            surveys</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        let questionId = 0;
        let listQuestions = [];
        let survey = {};

        function add_question(type) {
            const text_question = `
                    <div class="form-group" id="qid${questionId}" style="padding-left: 15px; padding-right: 15px">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h3 class="panel-title">Text Question</h3>
                            </div>
                            <div class="panel-body">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="${questionId}">Question</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="${questionId}" maxlength="255" required>
                                    </div>
                                    <div class="col-sm-2">
                                        <a type="button" class="btn btn-danger"
                                            onclick="delete_question('#qid${questionId}', ${questionId})">Delete</a>
                                    </div>
                                </div>
                            </div>
                            <input type="hidden" class="question_type" value="0">
                        </div>
                    </div>
            `;
            const radio_question = `
                    <div class="form-group" id="qid${questionId}" style="padding-left: 15px; padding-right: 15px">
                        <div class="panel panel-warning">
                            <div class="panel-heading">
                                <h3 class="panel-title">Radio Question</h3>
                            </div>
                            <div class="panel-body">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="${questionId}">Question</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="${questionId}" maxlength="255"
                                               required>
                                    </div>
                                    <div class="col-sm-2">
                                        <a type="button" class="btn btn-danger"
                                           onclick="delete_question('#qid${questionId}', ${questionId})">Delete</a>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="${questionId}_options">Options</label>
                                    <div class="col-sm-8">
                                        <small style="color: #00838f">Each line in textarea corresponds to one choice</small>
                                        <textarea class="form-control" id="${questionId}_options" rows="2"
                                                  required></textarea>
                                    </div>
                                </div>
                            </div>
                            <input type="hidden" class="question_type" value="1">
                        </div>
                    </div>
            `;
            const multichoice_question = `
                    <div class="form-group" id="qid${questionId}" style="padding-left: 15px; padding-right: 15px">
                        <div class="panel panel-danger">
                            <div class="panel-heading">
                                <h3 class="panel-title">Multichoice Question</h3>
                            </div>
                            <div class="panel-body">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="${questionId}">Question</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="${questionId}" maxlength="255"
                                               required>
                                    </div>
                                    <div class="col-sm-2">
                                        <a type="button" class="btn btn-danger"
                                           onclick="delete_question('#qid${questionId}', ${questionId})">Delete</a>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="${questionId}_options">Options</label>
                                    <div class="col-sm-8">
                                        <small style="color: #00838f">Each line in textarea corresponds to one choice</small>
                                        <textarea class="form-control" id="${questionId}_options" rows="4"
                                                  required></textarea>
                                    </div>
                                </div>
                            </div>
                            <input type="hidden" class="question_type" value="2">
                        </div>
                    </div>

            `;

            if (type === 0) {
                $('#question_field').append(text_question);
            } else if (type === 1) {
                $('#question_field').append(radio_question);
            } else if (type === 2) {
                $('#question_field').append(multichoice_question);
            } else {
                return;
            }
            listQuestions.push(questionId++);
        }

        function delete_question(field_id, id) {
            listQuestions.splice(listQuestions.indexOf(id), 1);
            $(field_id).remove();
        }

        function createSurvey() {
            const message = `
                <div class="alert alert-success" id="success-message" role="alert">{0}</div>
            `;
            const error_message = `
                <div class="alert alert-danger" id="error-message" role="alert">Ajax error! Please try again.</div>
            `;
            const invalid_message = `
                <div class="alert alert-danger" id="error-message" role="alert">Please fill all fields.</div>
            `;
            const new_control_btn = `
                <div class="col-sm-2">
                    <a type="button" class="btn btn-success" href="{% url 'yevrus:createsurveys' %}">Create another survey</a>
                </div>
                <div class="col-sm-1">
                     <a type="button" class="btn btn-danger" href="{% url 'yevrus:mysurveys' %}">Back to my surveys</a>
                </div>
            `;
            if (isValid()) {
                prepare_data();

                $.ajax({
                    url: '{% url 'yevrus:createsurveys' %}',
                    type: 'POST',
                    dataType: 'json',
                    data: survey,
                    success: function (resp) {
                        if (resp['message']) {
                            $("#response-message").html('<div class="alert alert-success" id="success-message" role="alert">' + resp['message'] + '</div>');
                            $("#control-btn").html(new_control_btn);
                        } else {
                            $("#response-message").html(error_message);
                        }
                    },
                    error: function () {
                        $("#response-message").html(error_message);
                    }
                });
            } else {

            }
        }

        function prepare_data() {
            survey = {};

            survey['title'] = $("#survey-title").val();
            survey['question_count'] = listQuestions.length;
            if ($("#is_published").is(":checked")) {
                survey['is_published'] = 1;
            } else {
                survey['is_published'] = 0;
            }
            for (let i = 0; i < listQuestions.length; ++i) {
                let question = {};
                let div = $("#qid" + listQuestions[i].toString());
                question['id_in_survey'] = i;
                question['type'] = div.find(".question_type").val();
                question['text'] = div.find("#" + listQuestions[i].toString()).val().replace(/(?:(?:\r\n|\r|\n)\s*){2}/gm, "\n");
                question['option'] = "";
                if (question['type'] != 0) {
                    question['option'] = div.find("#" + listQuestions[i].toString() + "_options").val().replace(/(?:(?:\r\n|\r|\n)\s*){2}/gm, "\n");
                }
                survey['question_' + i.toString()] = question;
            }
            console.log(survey);
        }

        function isValid() {
            $(".empty_field_message").remove();
            let isValid = true;
            const no_question_error = `
                <div class="alert alert-danger" id="error-message" role="alert">Please add at least 1 question.</div>
            `;
            if (listQuestions.length == 0) {
                $("#response-message").html(no_question_error);
                isValid = false;
            }

            $(":input").each(function () {
                if (!$(this).val() && $(this).is('[required]')) {
                    $("<span class='empty_field_message' style='color:red'>Please fill this field.</span>").insertAfter(this);
                    isValid = false;
                }
            });
            return isValid;
        }
    </script>
{% endblock %}