{% extends 'yevrus/includes/surveys_layout.html' %}

{% block title %}
    Dashboard
{% endblock %}

{% block content %}
    <div class="container">
        <div class="jumbotron">
            {% if messages %}
                {% for message in messages %}
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                        <div class="alert alert-success" role="alert">{{ message }}</div>
                    {% elif message.level ==  DEFAULT_MESSAGE_LEVELS.ERROR %}
                        <div class="alert alert-danger" role="alert">{{ message }}</div>
                    {% endif %}
                {% endfor %}
            {% endif %}
            <h2>Survey list</h2>
            <hr>
            {% if latest_survey_list %}
                <ol>
                    {% for survey in latest_survey_list %}
                        <li>
                            <h3>{{ survey.title }}</h3>
                            {% if survey in filled_survey_list %}
                                <a type="button" class="btn btn-info"
                                   href="{% url 'yevrus:show_response' survey.key %}">Review response</a>
                            {% else %}
                                <a type="button" class="btn btn-primary"
                                   href="{% url 'yevrus:surveyresponse' survey.key %}">Answer</a>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ol>
            {% else %}
                <p>No surveys are available.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}