{% extends 'yevrus/includes/home_layout.html' %}
{% load bootstrap4 %}

{% block title %}
    Login
{% endblock %}

{% block content %}
    <div class="container">
        <div class="jumbotron">
            <h2 style="text-align: center">Login</h2>
            {% if messages %}
                {% for message in messages %}
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                        <div class="alert alert-success" role="alert">{{ message }}</div>
                    {% elif message.level ==  DEFAULT_MESSAGE_LEVELS.ERROR %}
                        <div class="alert alert-danger" role="alert">{{ message }}</div>
                    {% endif %}
                {% endfor %}
            {% elif user == None %}
                <div class="alert alert-danger" id="error-message" role="alert">Wrong username or password.</div>
            {% endif %}
            <hr style="width: 50%">
            <form method="POST" action="{% url 'yevrus:login' %}">
                <div class="form-group" style="padding-left: 25%;padding-right: 25%">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    {% buttons %}
                        <button type="submit" class="btn btn-primary">Login</button>
                    {% endbuttons %}
                    <a href="{% url 'yevrus:register' %}">Not yet registered? Sign Up</a>
                    <br>
                    <a href="{% url 'yevrus:password_reset' %}">Forgot your password?</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}