{% extends 'yevrus/includes/surveys_layout.html' %}

{% block title %}
    My surveys
{% endblock %}

{% block content %}
    <div class="container">
        <div class="jumbotron">
            {% if messages %}
                {% for message in messages %}
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                        <div class="alert alert-success" role="alert">{{ message }}</div>
                    {% elif message.level ==  DEFAULT_MESSAGE_LEVELS.ERROR %}
                        <div class="alert alert-danger" role="alert">{{ message }}</div>
                    {% endif %}
                {% endfor %}
            {% endif %}
            <h2>Your surveys list</h2>
            <a type="button" class="btn btn-success" href="{% url 'yevrus:createsurveys' %}">Create new survey</a>
            <hr>

            {% if is_empty %}
                <p>You currently have no surveys.</p>
            {% else %}
                <div class="form-group" style="padding-left: 15px">
                    <h3>Published surveys</h3>
                    {% if publish_survey_list %}
                        <div class="row">
                            {% for survey in publish_survey_list %}
                                <div class="form-group col-sm-6">
                                    <div class="panel panel-primary">
                                        <div class="panel-heading">
                                            <h3 class="panel-title">{{ survey.title }}</h3>
                                        </div>
                                        <div class="panel-body">
                                            <div class="form-group">
                                                <a type="button" class="btn btn-danger"
                                                   href="{% url 'yevrus:deletesurvey' survey.key %}">
                                                    Delete
                                                </a>
                                                <a type="button" class="btn btn-info"
                                                   href="{% url 'yevrus:get_statistics' survey.key %}">Check
                                                    result
                                                </a>
                                                <button type="button" class="btn btn-primary" data-toggle="modal"
                                                        data-target="#linkModal{{ survey.pk }}">
                                                    Get Link Survey
                                                </button>
                                                <a type="button" class="btn btn-warning"
                                                   href="{% url 'yevrus:archive_survey' survey.key %}">Archive
                                                </a>
                                            </div>
                                            <div class="modal fade" id="linkModal{{ survey.id }}" tabindex="-1"
                                                 role="dialog"
                                                 aria-labelledby="linkModalLabel"
                                                 aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-centered" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="linkModalLabel{{ survey.id }}">
                                                                <b>Share
                                                                    link</b></h5>
                                                        </div>
                                                        <div class="modal-body"
                                                             style="padding-right: 10%; padding-left: 10%">
                                                            <div class="row">
                                                                <div class="col-sm-1" style="">
                                                                    <label class="control-label"
                                                                           for="link-survey{{ survey.id }}">Link</label>
                                                                </div>
                                                                <div class="col-sm-11">
                                                                    <input type="text" class="form-control"
                                                                           id="link-survey{{ survey.id }}"
                                                                           maxlength="255" required
                                                                           value="{{ request.get_host }}{% url 'yevrus:surveyresponse' survey.key %}">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-success"
                                                                    onclick="copy('link-survey{{ survey.id }}')">Copy
                                                            </button>

                                                            <button type="button" class="btn btn-danger"
                                                                    data-dismiss="modal">Close
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
                <hr style="margin-left: 30px">
                <div class="form-group" style="padding-left: 15px">
                    <h3>Unpublished surveys</h3>
                    {% if private_survey_list %}
                        <div class="row">
                            {% for survey in private_survey_list %}
                                <div class="form-group col-sm-6">
                                    <div class="panel panel-danger">
                                        <div class="panel-heading">
                                            <h3 class="panel-title">{{ survey.title }}</h3>
                                        </div>
                                        <div class="panel-body">
                                            <div class="form-group">
                                                <a type="button" class="btn btn-danger"
                                                   href="{% url 'yevrus:deletesurvey' survey.key %}">
                                                    Delete
                                                </a>
                                                <a type="button" class="btn btn-primary"
                                                   href="{% url 'yevrus:editsurvey' survey.key %}">Edit
                                                </a>
                                                <a type="button" class="btn btn-warning"
                                                   href="{% url 'yevrus:publish_survey' survey.key %}">Publish
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
                <hr style="margin-left: 30px">
                <div class="form-group" style="padding-left: 15px">
                    <h3>Filled surveys</h3>
                    {% if filled_survey_list %}
                        <div class="row">
                            {% for survey in filled_survey_list %}
                                <div class="form-group col-sm-6">
                                    <div class="panel panel-info">
                                        <div class="panel-heading">
                                            <h3 class="panel-title">{{ survey.title }}</h3>
                                        </div>
                                        <div class="panel-body">
                                            <div class="form-group">
                                                <a type="button" class="btn btn-info"
                                                   href="{% url 'yevrus:show_response' survey.key %}">
                                                    Review Response
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
                <hr style="margin-left: 30px">
                <div class="form-group" style="padding-left: 15px">
                    <h3>Archived surveys</h3>
                    {% if done_survey_list %}
                        <div class="row">
                            {% for survey in done_survey_list %}
                                <div class="form-group col-sm-6">
                                    <div class="panel panel-warning">
                                        <div class="panel-heading">
                                            <h3 class="panel-title">{{ survey.title }}</h3>
                                        </div>
                                        <div class="panel-body">
                                            <div class="form-group">
                                                <a type="button" class="btn btn-danger"
                                                   href="{% url 'yevrus:deletesurvey' survey.key %}">
                                                    Delete
                                                </a>
                                                <a type="button" class="btn btn-info"
                                                   href="{% url 'yevrus:get_statistics' survey.key %}">Check
                                                    result
                                                </a>
                                                <a type="button" class="btn btn-warning"
                                                   href="{% url 'yevrus:archive_survey' survey.key %}">Unarchive
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            {% endif %}


        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        function copy(id) {
            let copyText = document.getElementById(id);
            copyText.select();
            copyText.setSelectionRange(0, 99999);
            document.execCommand("copy");
        }
    </script>
{% endblock %}