{% extends 'yevrus/includes/surveys_layout.html' %}

{% block title %}
    Response
{% endblock %}

{% block content %}
    <div class="container">
    <div class="jumbotron">
        <h2>{{ title }}</h2>
        <hr>
        <div class="form-group" style="padding-left: 25%;padding-right: 25%">
            {% for field in form %}
                <div class="form-group">
                    {{ field.errors }}
                    <label class="control-label">{{ field.label }}</label>
                    {{ field }}
                </div>
            {% endfor %}
            <a type="button" class="btn btn-info"
               href="{% if last_location %} {{ last_location }} {% else %} {% url 'yevrus:dashboard' %} {% endif %}">Back</a>
        </div>
    </div>
{% endblock %}




