<div class="form-group" id="qid{{ questionId }}" style="padding-left: 15px; padding-right: 15px">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">Text Question</h3>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <label class="col-sm-2 control-label" for="{{ questionId }}">Question</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="{{ questionId }}" maxlength="255" value="{{ text }}" required>
                </div>
                <div class="col-sm-2">
                    <a type="button" class="btn btn-danger"
                       onclick="delete_question('#qid{{ questionId }}', {{ questionId }})">Delete</a>
                </div>
            </div>
        </div>
        <input type="hidden" class="question_type" value="0">
    </div>
</div>