{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'yevrus/css/style.css' %}">

<nav class="navbar navbar-inverse">
        <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'yevrus:dashboard' %}"><span class="glyphicon glyphicon-home"></span> Trang Chủ</a>
          </div>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{% url 'yevrus:mypolls' %}"> MY POLLS</a></li>
            <li><a href="{% url 'yevrus:surveys' %}"><span class="glyphicon glyphicon-th-list"></span> SURVEYS</a></li>
            <li><a href="{% url 'yevrus:mysurveys' %}"> MY SURVEYS</a></li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> {{ user.username }}</a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="{% url 'yevrus:change_password' %}"><span class="glyphicon glyphicon-cog"></span> Change Password</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="{% url 'yevrus:logout' %}"><span class="glyphicon glyphicon-log-out"></span> Logout</a>
                </div>
              </li>
            </ul>
      
          <div class="collapse navbar-collapse" id="main-menu">
          </div>
          <div class="collapse navbar-collapse" id="main-menu">
                </div><!--/.nav-collapse -->
        </div>
      </nav>