{#<nav class="navbar navbar-default">#}
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'yevrus:home' %}"><img src="/static/yevrus/img/Logo_green.png" style="margin:10px; height: fit-content"></a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="{% url 'yevrus:register' %}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li><a href="{% url 'yevrus:login' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
    </div>
{#</nav>#}
      