{% extends 'yevrus/includes/home_layout.html' %}

{% block title %}
    Forgot Password
{% endblock %}

{% block content %}
    <div class="container">
        <div class="jumbotron">
            <h2 style="text-align: center">Success</h2>
            <hr style="width: 50%">
            <blockquote>
                <p style="text-align: center;padding-left: 25%;padding-right: 25%">
                    Your password has been set. You can <a href="{% url 'yevrus:login' %}">Log in</a> now.
                </p>
            </blockquote>
        </div>
    </div>
{% endblock %}