{% extends 'yevrus/includes/home_layout.html' %}

{% block title %}
    Forgot Password
{% endblock %}

{% block content %}
    <div class="container">
        <div class="jumbotron">
            <h2 style="text-align: center">Forgot password</h2>
            <hr style="width: 50%">
            <blockquote>
                <p style="padding-left: 25%;padding-right: 25%">
                    We've emailed you instructions for setting your password.
                </p>
                <p style="padding-left: 25%;padding-right: 25%">
                    If you don't receive an email, please make sure you've entered the address you registered with,
                    and check your spam folder.
                </p>
            </blockquote>
        </div>
    </div>
{% endblock %}