{% extends 'yevrus/includes/home_layout.html' %}

{% load bootstrap4 %}

{% block style %}
    <style>
        .invalid-feedback {
            color: darkred;
        }
    </style>
{% endblock %}

{% block title %}
    Forgot Password
{% endblock %}

{% block content %}
    <div class="container">
        <div class="jumbotron">
            <h2 style="text-align: center">Change password</h2>
            <hr style="width: 50%">
            {% if validlink %}
                <form method="post">
                    <div class="form-group" style="padding-left: 25%;padding-right: 25%">
                        {% csrf_token %}
                        {% bootstrap_form form %}
                        <button type="submit" class="btn btn-primary">Change password</button>
                    </div>
                </form>
            {% else %}
                <p style="padding-left: 25%;padding-right: 25%">
                    The password reset link was invalid, because it has already been used.
                    Please make a new password reset request.
                </p>
            {% endif %}
        </div>
    </div>
{% endblock %}